.hero-section {
  height: 100vh;

  grid-template-rows: min-content auto 25vh;

  justify-items: center;
  align-items: start;
}

.main-title {
  font-size: 80px;
  font-weight: 300;

  width: fit-content;

  margin-top: 100px;
}
.main-title span {
  font-weight: 700;
}

.main-subtitle {
  font-size: var(--L);
  font-weight: 300;
  text-align: center;
  color: var(--tertiary);

  max-width: 300px;

  margin-top: 30px;
}

.hero-buttons-container {
  gap: 50px
}

.outline-button {
  font-size: var(--M);
  color: white;
}
.outline-button:hover {
  color: var(--secondary);

  transition: 150ms ease-in-out;
}

.gradient-button {
  z-index: 1;

  position: relative;

  font-size: var(--M);
  color: black;

  background: linear-gradient(45deg, var(--accent-primary) -30%, var(--accent-secondary) 130%);

  border-radius: var(--XXXS);

  padding: 10px 22px;

  transition: 150ms ease-in-out;
}

.gradient-button:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, var(--accent-primary) -30%, var(--accent-secondary) 130%);
  transform: translate3d(0px, 0px, 0) scale(0.95);
  filter: blur(30px);
  opacity: 0.3;
  transition: opacity 0.3s;
  border-radius: inherit;
  animation: Test 150ms ease-in-out forwards;
}
.gradient-button:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
@keyframes Test {
  from {
    opacity: 0; 
    filter: blur(0px);
  }
  to {
    opacity: 0.5; 
    filter: blur(20px);
  }
}

.scroll-button-icon {
  width: 40px;
  height: 40px;

  fill: var(--secondary);

  transition: 150ms ease-in-out;
}
.scroll-button-icon:hover {
  fill: var(--primary);

  translate: 0 10px;
}
      




.features {
  margin: auto;
}

.feature {
  grid-template-columns: 40px auto;

  margin: 30px;

  gap: 30px;

  align-items: center;
  justify-items: center;
}

.feature-icon {
  width: 40px;
  height: 40px;

  fill: var(--primary);

  justify-self: end;
}

.feature-text-container {
  grid-column: 2;

  gap: 10px;

  justify-self: start;
}

.feature-title {
  color: var(--primary);
}

.feature-description {
  color: var(--tertiary);
}