.main-title {
  font-size: var(--XXXL);
  font-weight: 300;
  text-align: center;

  margin-top: var(--XL);

  /* Gradient background */
  background: #12A8FF;
  background: -webkit-repeating-linear-gradient(to right, var(--accent-primary) 0%, var(--accent-secondary) 100%);
  background: -moz-repeating-linear-gradient(to right, var(--accent-primary) 0%, var(--accent-secondary) 100%);
  background: repeating-linear-gradient(to right, var(--accent-primary) 0%, var(--accent-secondary) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-title-API {
  font-weight: 700;
}