.main-title {
  font-size: var(--XXXL);
  font-weight: 300;

  width: fit-content;

  margin: auto;
  margin-top: var(--XXL);
}
.main-title span {
  font-weight: 700;
}

.main-subtitle {
  font-size: var(--M);
  font-weight: 300;
  text-align: center;
  color: var(--tertiary);

  margin: var(--XL);
}



.features {
  margin: auto;
}

.feature {
  grid-template-columns: 40px auto;

  margin: 30px;

  gap: 30px;

  align-items: center;
  justify-items: center;
}

.feature-icon {
  width: 40px;
  height: 40px;

  fill: var(--primary);

  justify-self: end;
}

.feature-text-container {
  grid-column: 2;

  gap: 10px;

  justify-self: start;
}

.feature-title {
  color: var(--primary);
}

.feature-description {
  color: var(--tertiary);
}