.main-title {
  font-size: var(--XXXL);
  font-weight: 300;

  width: fit-content;

  margin: auto;
  margin-top: var(--XXL);

  /* Gradient background */
  background: -webkit-linear-gradient(90deg, var(--accent-primary) 0%, var(--accent-secondary) 100%);
  background:    -moz-linear-gradient(90deg, var(--accent-primary) 0%, var(--accent-secondary) 100%);
  background:       linear-gradient(80deg, var(--accent-primary) -30%, var(--accent-secondary) 130%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
.main-title span {
  font-weight: 700;
}

.main-subtitle {
  font-size: var(--M);
  font-weight: 300;
  text-align: center;
  color: var(--tertiary);

  margin: var(--XL);
}