.main-title {
  font-size: var(--XXXL);
  font-weight: 300;

  width: fit-content;

  margin: auto;
  margin-top: var(--XXL);
}
.main-title span {
  font-weight: 700;
}

.main-subtitle {
  font-size: var(--M);
  font-weight: 300;
  text-align: center;
  color: var(--tertiary);

  margin: var(--XL);
}